<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>08.新浪微博.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC4928871F53AEE7006B8C30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC4928A01F53AEE8006B8C30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC4928AB1F53AEE8006B8C30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
